In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("/home/majji-vinaykumar/Documents/expected_ctc.csv")
df.head()

,IDX,Applicant_ID,Total_Experience,Total_Experience_in_field_applied,Department,Role,Industry,Organization,Designation,Education,...,Curent_Location,Preferred_location,Current_CTC,Inhand_Offer,Last_Appraisal_Rating,No_Of_Companies_worked,Number_of_Publications,Certifications,International_degree_any,Expected_CTC
0,1,22753,0,0,NaN,NaN,NaN,NaN,NaN,PG,...,Guwahati,Pune,0,N,NaN,0,0,0,0,384551
1,2,51087,23,14,HR,Consultant,Analytics,H,HR,Doctorate,...,Bangalore,Nagpur,2702664,Y,Key_Performer,2,4,0,0,3783729
2,3,38413,21,12,Top Management,Consultant,Training,J,NaN,Doctorate,...,Ahmedabad,Jaipur,2236661,Y,Key_Performer,5,3,0,0,3131325
3,4,11501,15,8,Banking,Financial Analyst,Aviation,F,HR,Doctorate,...,Kanpur,Kolkata,2100510,N,C,5,3,0,0,2608833
4,5,58941,10,5,Sales,Project Manager,Insurance,E,Medical Officer,Grad,...,Ahmedabad,Ahmedabad,1931644,N,C,2,3,0,0,2221390

In [3]:
df.shape

(25000, 29)

In [4]:
df.describe()

,IDX,Applicant_ID,Total_Experience,Total_Experience_in_field_applied,Passing_Year_Of_Graduation,Passing_Year_Of_PG,Passing_Year_Of_PHD,Current_CTC,No_Of_Companies_worked,Number_of_Publications,Certifications,International_degree_any,Expected_CTC
count,25000.000000,25000.000000,25000.000000,25000.000000,18820.000000,17308.000000,13119.000000,2.500000e+04,25000.000000,25000.000000,25000.000000,25000.000000,2.500000e+04
mean,12500.500000,34993.240080,12.493080,6.258200,2002.193624,2005.153571,2007.396372,1.760945e+06,3.482040,4.089040,0.773680,0.081720,2.250155e+06
std,7217.022701,14390.271591,7.471398,5.819513,8.316640,9.022963,7.493601,9.202125e+05,1.690335,2.606612,1.199449,0.273943,1.160480e+06
min,1.000000,10000.000000,0.000000,0.000000,1986.000000,1988.000000,1995.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,2.037440e+05
25%,6250.750000,22563.750000,6.000000,1.000000,1996.000000,1997.000000,2001.000000,1.027312e+06,2.000000,2.000000,0.000000,0.000000,1.306278e+06
50%,12500.500000,34974.500000,12.000000,5.000000,2002.000000,2006.000000,2007.000000,1.802568e+06,3.000000,4.000000,0.000000,0.000000,2.252136e+06
75%,18750.250000,47419.000000,19.000000,10.000000,2009.000000,2012.000000,2014.000000,2.443883e+06,5.000000,6.000000,1.000000,0.000000,3.051354e+06
max,25000.000000,60000.000000,25.000000,25.000000,2020.000000,2023.000000,2020.000000,3.999693e+06,6.000000,8.000000,5.000000,1.000000,5.599570e+06

In [5]:
df.columns

Index(['IDX', 'Applicant_ID', 'Total_Experience',
       'Total_Experience_in_field_applied', 'Department', 'Role', 'Industry',
       'Organization', 'Designation', 'Education', 'Graduation_Specialization',
       'University_Grad', 'Passing_Year_Of_Graduation', 'PG_Specialization',
       'University_PG', 'Passing_Year_Of_PG', 'PHD_Specialization',
       'University_PHD', 'Passing_Year_Of_PHD', 'Curent_Location',
       'Preferred_location', 'Current_CTC', 'Inhand_Offer',
       'Last_Appraisal_Rating', 'No_Of_Companies_worked',
       'Number_of_Publications', 'Certifications', 'International_degree_any',
       'Expected_CTC'],
      dtype='object')

In [6]:
df.isnull().sum()

IDX                                      0
Applicant_ID                             0
Total_Experience                         0
Total_Experience_in_field_applied        0
Department                            2778
Role                                   963
Industry                               908
Organization                           908
Designation                           3129
Education                                0
Graduation_Specialization             6180
University_Grad                       6180
Passing_Year_Of_Graduation            6180
PG_Specialization                     7692
University_PG                         7692
Passing_Year_Of_PG                    7692
PHD_Specialization                   11881
University_PHD                       11881
Passing_Year_Of_PHD                  11881
Curent_Location                          0
Preferred_location                       0
Current_CTC                              0
Inhand_Offer                             0
Last_Appraisal_Rating                  908
No_Of_Companies_worked                   0
Number_of_Publications                   0
Certifications                           0
International_degree_any                 0
Expected_CTC                             0
dtype: int64

In [7]:
null_percent = df.isnull().mean()*100
print(null_percent.sort_values(ascending=False))

Passing_Year_Of_PHD                  47.524
University_PHD                       47.524
PHD_Specialization                   47.524
University_PG                        30.768
Passing_Year_Of_PG                   30.768
PG_Specialization                    30.768
University_Grad                      24.720
Passing_Year_Of_Graduation           24.720
Graduation_Specialization            24.720
Designation                          12.516
Department                           11.112
Role                                  3.852
Organization                          3.632
Industry                              3.632
Last_Appraisal_Rating                 3.632
Number_of_Publications                0.000
Current_CTC                           0.000
No_Of_Companies_worked                0.000
Certifications                        0.000
International_degree_any              0.000
Inhand_Offer                          0.000
IDX                                   0.000
Preferred_location                    0.000
Curent_Location                       0.000
Applicant_ID                          0.000
Education                             0.000
Total_Experience_in_field_applied     0.000
Total_Experience                      0.000
Expected_CTC                          0.000
dtype: float64

In [8]:
df.drop(columns=["Passing_Year_Of_PHD","University_PHD","PHD_Specialization"],inplace=True)

In [9]:
df.shape

(25000, 26)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   IDX                                25000 non-null  int64
 1   Applicant_ID                       25000 non-null  int64
 2   Total_Experience                   25000 non-null  int64
 3   Total_Experience_in_field_applied  25000 non-null  int64
 4   Department                         22222 non-null  object
 5   Role                               24037 non-null  object
 6   Industry                           24092 non-null  object
 7   Organization                       24092 non-null  object
 8   Designation                        21871 non-null  object
 9   Education                          25000 non-null  object
 10  Graduation_Specialization          18820 non-null  object
 11  University_Grad                    18820 non-null  object
 12  Passing_Year_Of_Graduation         18820 non-null  float64
 13  PG_Specialization                  17308 non-null  object
 14  University_PG                      17308 non-null  object
 15  Passing_Year_Of_PG                 17308 non-null  float64
 16  Curent_Location                    25000 non-null  object
 17  Preferred_location                 25000 non-null  object
 18  Current_CTC                        25000 non-null  int64
 19  Inhand_Offer                       25000 non-null  object
 20  Last_Appraisal_Rating              24092 non-null  object
 21  No_Of_Companies_worked             25000 non-null  int64
 22  Number_of_Publications             25000 non-null  int64
 23  Certifications                     25000 non-null  int64
 24  International_degree_any           25000 non-null  int64
 25  Expected_CTC                       25000 non-null  int64
dtypes: float64(2), int64(10), object(14)
memory usage: 5.0+ MB

In [11]:
for col in df.columns:
    if df[col].dtypes == "object" and df[col].isnull().sum()>0:
        print(col,df[col].isnull().sum())

Department 2778
Role 963
Industry 908
Organization 908
Designation 3129
Graduation_Specialization 6180
University_Grad 6180
PG_Specialization 7692
University_PG 7692
Last_Appraisal_Rating 908

In [12]:
df.select_dtypes(include="object")

,Department,Role,Industry,Organization,Designation,Education,Graduation_Specialization,University_Grad,PG_Specialization,University_PG,Curent_Location,Preferred_location,Inhand_Offer,Last_Appraisal_Rating
0,NaN,NaN,NaN,NaN,NaN,PG,Arts,Lucknow,NaN,NaN,Guwahati,Pune,N,NaN
1,HR,Consultant,Analytics,H,HR,Doctorate,Chemistry,Surat,Others,Surat,Bangalore,Nagpur,Y,Key_Performer
2,Top Management,Consultant,Training,J,NaN,Doctorate,Zoology,Jaipur,Zoology,Jaipur,Ahmedabad,Jaipur,Y,Key_Performer
3,Banking,Financial Analyst,Aviation,F,HR,Doctorate,Others,Bangalore,Zoology,Bangalore,Kanpur,Kolkata,N,C
4,Sales,Project Manager,Insurance,E,Medical Officer,Grad,Zoology,Mumbai,Zoology,Mumbai,Ahmedabad,Ahmedabad,N,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,Engineering,Project Manager,Automobile,I,Assistant Manager,PG,Psychology,Surat,Psychology,Surat,Kanpur,Mumbai,N,B
24996,HR,Others,Analytics,B,Sr.Manager,Under Grad,NaN,NaN,NaN,NaN,Bangalore,Nagpur,Y,B
24997,Banking,Head,Insurance,D,Software Developer,Under Grad,NaN,NaN,NaN,NaN,Pune,Delhi,N,C
24998,Marketing,CEO,BFSI,D,Marketing Manager,PG,Economics,Surat,Economics,Surat,Delhi,Pune,Y,B
24999,Banking,Consultant,Automobile,P,Sr.Manager,Grad,Economics,Bangalore,Economics,Bangalore,Surat,Mangalore,N,A

In [13]:
cat_col = ["Department","Role","Industry","Organization","Designation","Last_Appraisal_Rating"]
for col in cat_col:
    df[col] = df[col].fillna(df[col].mode()[0])

In [14]:
for col in df.columns:
    if (df[col].dtypes == "int64" or df[col].dtypes == "float64") and df[col].isnull().sum()>0:
        print(col,df[col].isnull().sum())

Passing_Year_Of_Graduation 6180
Passing_Year_Of_PG 7692

In [15]:
df.isnull().sum()

IDX                                     0
Applicant_ID                            0
Total_Experience                        0
Total_Experience_in_field_applied       0
Department                              0
Role                                    0
Industry                                0
Organization                            0
Designation                             0
Education                               0
Graduation_Specialization            6180
University_Grad                      6180
Passing_Year_Of_Graduation           6180
PG_Specialization                    7692
University_PG                        7692
Passing_Year_Of_PG                   7692
Curent_Location                         0
Preferred_location                      0
Current_CTC                             0
Inhand_Offer                            0
Last_Appraisal_Rating                   0
No_Of_Companies_worked                  0
Number_of_Publications                  0
Certifications                          0
International_degree_any                0
Expected_CTC                            0
dtype: int64

In [16]:
"""num_col = ["Passing_Year_Of_Graduation","Passing_Year_Of_PG"]
for col in num_col:
    df[col] = df[col].fillna(df[col].median())"""
df[["Graduation_Specialization","University_Grad","PG_Specialization","University_PG"]]=df[["Graduation_Specialization","University_Grad","PG_Specialization","University_PG"]].fillna("not_studied")
df[["Passing_Year_Of_Graduation","Passing_Year_Of_PG"]]=df[["Passing_Year_Of_Graduation","Passing_Year_Of_PG"]].fillna(0)

In [17]:
df.isnull().sum().sum()

0

In [18]:
df.head()

,IDX,Applicant_ID,Total_Experience,Total_Experience_in_field_applied,Department,Role,Industry,Organization,Designation,Education,...,Curent_Location,Preferred_location,Current_CTC,Inhand_Offer,Last_Appraisal_Rating,No_Of_Companies_worked,Number_of_Publications,Certifications,International_degree_any,Expected_CTC
0,1,22753,0,0,Marketing,Others,Training,M,HR,PG,...,Guwahati,Pune,0,N,B,0,0,0,0,384551
1,2,51087,23,14,HR,Consultant,Analytics,H,HR,Doctorate,...,Bangalore,Nagpur,2702664,Y,Key_Performer,2,4,0,0,3783729
2,3,38413,21,12,Top Management,Consultant,Training,J,HR,Doctorate,...,Ahmedabad,Jaipur,2236661,Y,Key_Performer,5,3,0,0,3131325
3,4,11501,15,8,Banking,Financial Analyst,Aviation,F,HR,Doctorate,...,Kanpur,Kolkata,2100510,N,C,5,3,0,0,2608833
4,5,58941,10,5,Sales,Project Manager,Insurance,E,Medical Officer,Grad,...,Ahmedabad,Ahmedabad,1931644,N,C,2,3,0,0,2221390

In [19]:
df.drop(columns=["IDX","Applicant_ID"],inplace=True)

In [20]:
df.select_dtypes(include="object")

,Department,Role,Industry,Organization,Designation,Education,Graduation_Specialization,University_Grad,PG_Specialization,University_PG,Curent_Location,Preferred_location,Inhand_Offer,Last_Appraisal_Rating
0,Marketing,Others,Training,M,HR,PG,Arts,Lucknow,not_studied,not_studied,Guwahati,Pune,N,B
1,HR,Consultant,Analytics,H,HR,Doctorate,Chemistry,Surat,Others,Surat,Bangalore,Nagpur,Y,Key_Performer
2,Top Management,Consultant,Training,J,HR,Doctorate,Zoology,Jaipur,Zoology,Jaipur,Ahmedabad,Jaipur,Y,Key_Performer
3,Banking,Financial Analyst,Aviation,F,HR,Doctorate,Others,Bangalore,Zoology,Bangalore,Kanpur,Kolkata,N,C
4,Sales,Project Manager,Insurance,E,Medical Officer,Grad,Zoology,Mumbai,Zoology,Mumbai,Ahmedabad,Ahmedabad,N,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,Engineering,Project Manager,Automobile,I,Assistant Manager,PG,Psychology,Surat,Psychology,Surat,Kanpur,Mumbai,N,B
24996,HR,Others,Analytics,B,Sr.Manager,Under Grad,not_studied,not_studied,not_studied,not_studied,Bangalore,Nagpur,Y,B
24997,Banking,Head,Insurance,D,Software Developer,Under Grad,not_studied,not_studied,not_studied,not_studied,Pune,Delhi,N,C
24998,Marketing,CEO,BFSI,D,Marketing Manager,PG,Economics,Surat,Economics,Surat,Delhi,Pune,Y,B
24999,Banking,Consultant,Automobile,P,Sr.Manager,Grad,Economics,Bangalore,Economics,Bangalore,Surat,Mangalore,N,A

In [21]:
df.replace({"Inhand_Offer":{"Y":1,"N":0}},inplace=True)

In [22]:
df["Inhand_Offer"].value_counts()

Inhand_Offer
0    17418
1     7582
Name: count, dtype: int64

In [23]:
obj_col = df.select_dtypes(include="object").columns
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in obj_col:
    df[col] = le.fit_transform(df[col])

In [24]:
df.head()

,Total_Experience,Total_Experience_in_field_applied,Department,Role,Industry,Organization,Designation,Education,Graduation_Specialization,University_Grad,...,Curent_Location,Preferred_location,Current_CTC,Inhand_Offer,Last_Appraisal_Rating,No_Of_Companies_worked,Number_of_Publications,Certifications,International_degree_any,Expected_CTC
0,0,0,8,11,10,12,5,2,0,7,...,5,13,0,0,1,0,0,0,0,384551
1,23,14,5,6,0,7,5,0,2,12,...,1,12,2702664,1,4,2,4,0,0,3783729
2,21,12,11,6,10,9,5,0,10,5,...,0,6,2236661,1,4,5,3,0,0,3131325
3,15,8,2,8,2,5,5,0,6,1,...,7,8,2100510,0,2,5,3,0,0,2608833
4,10,5,10,14,6,4,8,1,10,9,...,0,0,1931644,0,2,2,3,0,0,2221390

In [25]:
x = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [26]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2,random_state=2)

In [27]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()
model.fit(x_train,y_train)

DecisionTreeRegressor()

In [28]:
y_pred = model.predict(x_test)

In [29]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.998530670490964