In [1]:
# encoding is used to transform sting values into number
#there different types 1)label encoding 2)ordinal encoding 3) onehotencoding
#in label encoding model asign a random value. for example ["hyd","vizag","rajam"] is [1,2,0]
#in ordinal encoding we give vales in specic order.for example ["a","b","c","d"] is [0,1,2,3]

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("/home/majji-vinaykumar/Videos/mechile_Learning/DataEncoding.csv")
df.head()

  output   Class Grade
0      x    Rich     A
1      y    Poor     D
2      z  Middle     B
3      y  Middle     C
4      y  Middle     C

In [4]:
#for output column use label encoding. class and grade use ordinal encoding

In [5]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[['Rich','Poor','Middle'],['A','B','C','D']])
oe.fit(df.iloc[:,1:3])
df.iloc[:,1:3]=oe.transform(df.iloc[:,1:3])

In [6]:
df

  output Class Grade
0      x   0.0   0.0
1      y   1.0   3.0
2      z   2.0   1.0
3      y   2.0   2.0
4      y   2.0   2.0
5      x   1.0   2.0
6      x   2.0   1.0
7      x   1.0   2.0
8      y   1.0   3.0
9      x   2.0   0.0

In [7]:
oe.categories_

[array(['Rich', 'Poor', 'Middle'], dtype=object),
 array(['A', 'B', 'C', 'D'], dtype=object)]

In [8]:
oe.inverse_transform(df.iloc[:,1:3])

array([['Rich', 'A'],
       ['Poor', 'D'],
       ['Middle', 'B'],
       ['Middle', 'C'],
       ['Middle', 'C'],
       ['Poor', 'C'],
       ['Middle', 'B'],
       ['Poor', 'C'],
       ['Poor', 'D'],
       ['Middle', 'A']], dtype=object)

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(df.iloc[:,0])
df.iloc[:,0] = le.transform(df.iloc[:,0])

In [10]:
df

  output Class Grade
0      0   0.0   0.0
1      1   1.0   3.0
2      2   2.0   1.0
3      1   2.0   2.0
4      1   2.0   2.0
5      0   1.0   2.0
6      0   2.0   1.0
7      0   1.0   2.0
8      1   1.0   3.0
9      0   2.0   0.0

In [11]:
#check order
le.classes_

array(['x', 'y', 'z'], dtype=object)

In [12]:
le.inverse_transform(list(df.iloc[:,0]))#take list

array(['x', 'y', 'z', 'y', 'y', 'x', 'x', 'x', 'y', 'x'], dtype=object)

In [2]:
df = pd.read_csv("/home/majji-vinaykumar/Videos/mechile_Learning/DataEncoding.csv")
df.head()

  output   Class Grade
0      x    Rich     A
1      y    Poor     D
2      z  Middle     B
3      y  Middle     C
4      y  Middle     C