In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("/home/majji-vinaykumar/Videos/mechile_Learning/Sample_Data.csv")
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [3]:
df.isna().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [4]:
from sklearn.impute import SimpleImputer
fill_mean = SimpleImputer(missing_values=np.nan,strategy="mean")#mean for continuous data
fill_mode = SimpleImputer(missing_values=np.nan, strategy="most_frequent")# mode for discreate data

In [7]:
fill_mean.fit(df.iloc[:,1:3])# in fit method, it finds the mean value
df.iloc[:,1:3] = fill_mean.fit_transform(df.iloc[:,1:3])#in transform method, it replace missing values

In [8]:
df.isna().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64