In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#OneHotEncoding is used to give equal importance like cities

In [3]:

df = pd.read_csv("/home/majji-vinaykumar/Documents/Salary.csv")
df.head()

       States   Age   Salary Purchased
0       Texas  44.0  72000.0        No
1     Florida  27.0  48000.0       Yes
2  California  30.0  54000.0        No
3       Texas  38.0  61000.0        No
4  California   NaN  65000.0       Yes

In [4]:
#to do onehotencoding there are several ways

In [5]:
#one way is using pandas. In this way columns are removed and new columns are added
pd.get_dummies(df,columns=['States','Purchased'])

,Age,Salary,States_California,States_Florida,States_Texas,Purchased_No,Purchased_Yes
0,44.0,72000.0,False,False,True,True,False
1,27.0,48000.0,False,True,False,False,True
2,30.0,54000.0,True,False,False,True,False
3,38.0,61000.0,False,False,True,True,False
4,NaN,65000.0,True,False,False,False,True
5,35.0,58000.0,False,False,True,False,True
6,40.0,NaN,True,False,False,True,False
7,48.0,79000.0,False,False,True,False,True
8,50.0,83000.0,False,True,False,True,False
9,37.0,67000.0,False,False,True,False,True

In [7]:
dummy = pd.get_dummies(df.States)
dummy

   California  Florida  Texas
0       False    False   True
1       False     True  False
2        True    False  False
3       False    False   True
4        True    False  False
5       False    False   True
6        True    False  False
7       False    False   True
8       False     True  False
9       False    False   True

In [11]:
# concatenate above
pd.concat([df,dummy],axis="columns") # axis=1

       States   Age   Salary Purchased  California  Florida  Texas
0       Texas  44.0  72000.0        No       False    False   True
1     Florida  27.0  48000.0       Yes       False     True  False
2  California  30.0  54000.0        No        True    False  False
3       Texas  38.0  61000.0        No       False    False   True
4  California   NaN  65000.0       Yes        True    False  False
5       Texas  35.0  58000.0       Yes       False    False   True
6  California  40.0      NaN        No        True    False  False
7       Texas  48.0  79000.0       Yes       False    False   True
8     Florida  50.0  83000.0        No       False     True  False
9       Texas  37.0  67000.0       Yes       False    False   True

In [45]:
df

       States   Age   Salary Purchased
0       Texas  44.0  72000.0        No
1     Florida  27.0  48000.0       Yes
2  California  30.0  54000.0        No
3       Texas  38.0  61000.0        No
4  California   NaN  65000.0       Yes
5       Texas  35.0  58000.0       Yes
6  California  40.0      NaN        No
7       Texas  48.0  79000.0       Yes
8     Florida  50.0  83000.0        No
9       Texas  37.0  67000.0       Yes

In [46]:
#second way is using sklearn
from sklearn.preprocessing import OneHotEncoder
onehot = OneHotEncoder(drop='first',sparse_output=False,dtype=np.int32)

In [47]:
onehot.fit(df.iloc[:,0:1])

OneHotEncoder(drop='first', dtype=<class 'numpy.int32'>, sparse_output=False)

In [48]:
encoded = onehot.transform(df.iloc[:,0:1])

In [49]:
encoded

array([[0, 1],
       [1, 0],
       [0, 0],
       [0, 1],
       [0, 0],
       [0, 1],
       [0, 0],
       [0, 1],
       [1, 0],
       [0, 1]], dtype=int32)

In [50]:
#to asign names to columns
'''encoded_df = pd.DataFrame(encoded,columns=onehot.get_feature_names_out(['States']))
df.reset_index(drop=True,inplace=False)
df = pd.concat([df.drop(['States'],axis=1),encoded_df],axis=1)'''

"encoded_df = pd.DataFrame(encoded,columns=onehot.get_feature_names_out(['States']))\ndf.reset_index(drop=True,inplace=False)\ndf = pd.concat([df.drop(['States'],axis=1),encoded_df],axis=1)"

In [51]:
encoded_df

   States_Florida  States_Texas
0               0             1
1               1             0
2               0             0
3               0             1
4               0             0
5               0             1
6               0             0
7               0             1
8               1             0
9               0             1

In [52]:
df.head()

       States   Age   Salary Purchased
0       Texas  44.0  72000.0        No
1     Florida  27.0  48000.0       Yes
2  California  30.0  54000.0        No
3       Texas  38.0  61000.0        No
4  California   NaN  65000.0       Yes

In [53]:
#third way is used for more number vales. if less number value columns, they we remove, remaining are taken
state = df['States'].value_counts()
state

States
Texas         5
California    3
Florida       2
Name: count, dtype: int64

In [54]:
df.nunique()

States       3
Age          9
Salary       9
Purchased    2
dtype: int64

In [60]:
threshold = 3
states_to_remove = state[state<=threshold].index

In [61]:
pd.get_dummies(df['States'].replace(states_to_remove,'Mix states')).head()

   Mix states  Texas
0       False   True
1        True  False
2        True  False
3       False   True
4        True  False