In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data_set/heart.csv")

In [3]:
df.head()

,Age,Gender,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [4]:
df["HeartDisease"].value_counts()

HeartDisease
1    508
0    410
Name: count, dtype: int64

observe
HeartDisease
1    508
0    410

In [10]:
df["HeartDisease"].value_counts(normalize=True)*100

HeartDisease
1    55.337691
0    44.662309
Name: proportion, dtype: float64

In [5]:
df.columns

Index(['Age', 'Gender', 'ChestPainType', 'RestingBP', 'Cholesterol',
       'FastingBS', 'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak',
       'ST_Slope', 'HeartDisease'],
      dtype='object')

In [6]:
X = df.drop("HeartDisease",axis="columns")
y = df["HeartDisease"]

In [7]:
X.head()

,Age,Gender,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up

In [11]:
y[5]

np.int64(0)

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [15]:
y_train.value_counts(normalize=True)*100

HeartDisease
1    56.26703
0    43.73297
Name: proportion, dtype: float64

In [16]:
y_test.value_counts(normalize=True)*100

HeartDisease
1    51.630435
0    48.369565
Name: proportion, dtype: float64

if we observe above two y_train,y_test 0 and 1 are not in same number.

## stratified sampling

In [17]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2,stratify=y)

In [18]:
y_train.value_counts(normalize=True)*100

HeartDisease
1    55.313351
0    44.686649
Name: proportion, dtype: float64

In [19]:
y_test.value_counts(normalize=True)*100

HeartDisease
1    55.434783
0    44.565217
Name: proportion, dtype: float64

if we observe both 0 and 1 are in y_train,y_test are almost same number